In [1]:
import pandas as pd

In [2]:
public_trees = pd.read_excel("data/raw/public-trees.xlsx")
public_trees.to_csv("data/raw/public-trees.csv", index=False)
public_trees.head()

,TREE_ID,CIVIC_NUMBER,STD_STREET,GENUS_NAME,SPECIES_NAME,CULTIVAR_NAME,COMMON_NAME,ON_STREET_BLOCK,ON_STREET,NEIGHBOURHOOD_NAME,STREET_SIDE_NAME,HEIGHT_RANGE_ID,HEIGHT_RANGE,DIAMETER,DATE_PLANTED,Geom,geo_point_2d
0,17549,2455,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2400,W 16TH AV,KITSILANO,ODD,3,30-40,22.0,1990-11-26,"{""coordinates"":[-123.1615739998396,49.25748899...","49.25748899917517, -123.1615739998396"
1,17555,2466,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2400,W 16TH AV,ARBUTUS RIDGE,EVEN,2,20-30,21.0,1990-11-06,"{""coordinates"":[-123.16172499961314,49.2573499...","49.257349998881125, -123.16172499961314"
2,17562,2485,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2400,W 16TH AV,KITSILANO,ODD,2,20-30,16.0,1990-11-26,"{""coordinates"":[-123.16224000008015,49.2574969...","49.2574969990299, -123.16224000008015"
3,17567,3228,LARCH ST,PRUNUS,CERASIFERA,ATROPURPUREA,PISSARD PLUM,3200,LARCH ST,ARBUTUS RIDGE,EVEN,3,30-40,11.0,NaN,"{""coordinates"":[-123.16258199949336,49.2569939...","49.256993999470524, -123.16258199949336"
4,17570,2495,W 16TH AV,PRUNUS,CERASIFERA,ATROPURPUREA,PISSARD PLUM,3100,LARCH ST,KITSILANO,EVEN,2,20-30,13.0,NaN,"{""coordinates"":[-123.16255299954688,49.2578359...","49.257835999043685, -123.16255299954688"

In [3]:
display(public_trees.info())
cols_with_nan = public_trees.columns[public_trees.isna().any()].tolist()
display(cols_with_nan)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180688 entries, 0 to 180687
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   TREE_ID             180688 non-null  int64
 1   CIVIC_NUMBER        180688 non-null  int64
 2   STD_STREET          180688 non-null  object
 3   GENUS_NAME          180688 non-null  object
 4   SPECIES_NAME        180688 non-null  object
 5   CULTIVAR_NAME       80349 non-null   object
 6   COMMON_NAME         180688 non-null  object
 7   ON_STREET_BLOCK     180688 non-null  int64
 8   ON_STREET           180688 non-null  object
 9   NEIGHBOURHOOD_NAME  176760 non-null  object
 10  STREET_SIDE_NAME    180688 non-null  object
 11  HEIGHT_RANGE_ID     180688 non-null  int64
 12  HEIGHT_RANGE        180688 non-null  object
 13  DIAMETER            180688 non-null  float64
 14  DATE_PLANTED        73818 non-null   object
 15  Geom                180688 non-null  object
 16  geo_point_2d        180688 non-null  object
dtypes: float64(1), int64(4), object(12)
memory usage: 23.4+ MB

None

['CULTIVAR_NAME', 'NEIGHBOURHOOD_NAME', 'DATE_PLANTED']

In [4]:
display(public_trees.nunique())

TREE_ID               180688
CIVIC_NUMBER            8326
STD_STREET               810
GENUS_NAME               169
SPECIES_NAME             539
CULTIVAR_NAME            607
COMMON_NAME             1297
ON_STREET_BLOCK          187
ON_STREET                817
NEIGHBOURHOOD_NAME        22
STREET_SIDE_NAME           6
HEIGHT_RANGE_ID           11
HEIGHT_RANGE               9
DIAMETER                 490
DATE_PLANTED            4565
Geom                  180564
geo_point_2d          180564
dtype: int64

In [5]:
public_trees_cleaned = public_trees.copy()
public_trees_cleaned[['LATITUDE', 'LONGITUDE']] = public_trees_cleaned['geo_point_2d'].str.split(', ', expand=True)
public_trees_cleaned['LATITUDE'] = public_trees_cleaned['LATITUDE'].astype(float)
public_trees_cleaned['LONGITUDE'] = public_trees_cleaned['LONGITUDE'].astype(float)

In [6]:
print(public_trees_cleaned["HEIGHT_RANGE"].unique())
priority_order = ['10-20', '20-30', '30-40', '40-50', '50-60', '60-70', '70-80', '80-90', '>90']
public_trees_cleaned['HEIGHT_RANGE'] = pd.Categorical(public_trees_cleaned['HEIGHT_RANGE'], categories=priority_order, ordered=True).astype(str)
# public_trees_cleaned['HEIGHT_RANGE'] = public_trees_cleaned['HEIGHT_RANGE']
public_trees_cleaned['HEIGHT_RANGE_ID'] = public_trees_cleaned['HEIGHT_RANGE_ID'].replace([0, 10], 9)

['30-40' '20-30' '60-70' '40-50' '10-20' '50-60' '70-80' '80-90' '>90']

In [7]:
public_trees_cleaned['CULTIVAR_NAME'] = public_trees_cleaned['CULTIVAR_NAME'].fillna(public_trees_cleaned['SPECIES_NAME'])
public_trees_cleaned['NEIGHBOURHOOD_NAME'] = public_trees_cleaned['NEIGHBOURHOOD_NAME'].fillna(None)
public_trees_cleaned['DATE_PLANTED'] = public_trees_cleaned['DATE_PLANTED'].fillna(None)

In [8]:
public_trees_cleaned = public_trees_cleaned.drop(columns=['Geom', 'geo_point_2d'])

In [9]:
display(public_trees_cleaned.info())
public_trees_cleaned.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180688 entries, 0 to 180687
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   TREE_ID             180688 non-null  int64
 1   CIVIC_NUMBER        180688 non-null  int64
 2   STD_STREET          180688 non-null  object
 3   GENUS_NAME          180688 non-null  object
 4   SPECIES_NAME        180688 non-null  object
 5   CULTIVAR_NAME       180688 non-null  object
 6   COMMON_NAME         180688 non-null  object
 7   ON_STREET_BLOCK     180688 non-null  int64
 8   ON_STREET           180688 non-null  object
 9   NEIGHBOURHOOD_NAME  180688 non-null  object
 10  STREET_SIDE_NAME    180688 non-null  object
 11  HEIGHT_RANGE_ID     180688 non-null  int64
 12  HEIGHT_RANGE        180688 non-null  object
 13  DIAMETER            180688 non-null  float64
 14  DATE_PLANTED        180688 non-null  object
 15  LATITUDE            180688 non-null  float64
 16  LONGITUDE           180688 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 23.4+ MB

None

,TREE_ID,CIVIC_NUMBER,STD_STREET,GENUS_NAME,SPECIES_NAME,CULTIVAR_NAME,COMMON_NAME,ON_STREET_BLOCK,ON_STREET,NEIGHBOURHOOD_NAME,STREET_SIDE_NAME,HEIGHT_RANGE_ID,HEIGHT_RANGE,DIAMETER,DATE_PLANTED,LATITUDE,LONGITUDE
0,17549,2455,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2400,W 16TH AV,KITSILANO,ODD,3,30-40,22.0,1990-11-26,49.257489,-123.161574
1,17555,2466,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2400,W 16TH AV,ARBUTUS RIDGE,EVEN,2,20-30,21.0,1990-11-06,49.257350,-123.161725
2,17562,2485,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2400,W 16TH AV,KITSILANO,ODD,2,20-30,16.0,1990-11-26,49.257497,-123.162240
3,17567,3228,LARCH ST,PRUNUS,CERASIFERA,ATROPURPUREA,PISSARD PLUM,3200,LARCH ST,ARBUTUS RIDGE,EVEN,3,30-40,11.0,NA,49.256994,-123.162582
4,17570,2495,W 16TH AV,PRUNUS,CERASIFERA,ATROPURPUREA,PISSARD PLUM,3100,LARCH ST,KITSILANO,EVEN,2,20-30,13.0,NA,49.257836,-123.162553

In [10]:
public_trees_cleaned.to_csv("data/processed/public_trees_cleaned.csv", index=False)

In [11]:
public_trees_cleaned_2 = pd.read_csv("data/processed/public_trees_cleaned.csv")
public_trees_cleaned_2.head(15)

,TREE_ID,CIVIC_NUMBER,STD_STREET,GENUS_NAME,SPECIES_NAME,CULTIVAR_NAME,COMMON_NAME,ON_STREET_BLOCK,ON_STREET,NEIGHBOURHOOD_NAME,STREET_SIDE_NAME,HEIGHT_RANGE_ID,HEIGHT_RANGE,DIAMETER,DATE_PLANTED,LATITUDE,LONGITUDE
0,17549,2455,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2400,W 16TH AV,KITSILANO,ODD,3,30-40,22.0,1990-11-26,49.257489,-123.161574
1,17555,2466,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2400,W 16TH AV,ARBUTUS RIDGE,EVEN,2,20-30,21.0,1990-11-06,49.257350,-123.161725
2,17562,2485,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2400,W 16TH AV,KITSILANO,ODD,2,20-30,16.0,1990-11-26,49.257497,-123.162240
3,17567,3228,LARCH ST,PRUNUS,CERASIFERA,ATROPURPUREA,PISSARD PLUM,3200,LARCH ST,ARBUTUS RIDGE,EVEN,3,30-40,11.0,NaN,49.256994,-123.162582
4,17570,2495,W 16TH AV,PRUNUS,CERASIFERA,ATROPURPUREA,PISSARD PLUM,3100,LARCH ST,KITSILANO,EVEN,2,20-30,13.0,NaN,49.257836,-123.162553
5,17574,2495,W 16TH AV,PRUNUS,CERASIFERA,ATROPURPUREA,PISSARD PLUM,3100,LARCH ST,KITSILANO,EVEN,2,20-30,11.0,NaN,49.257589,-123.162567
6,17591,2520,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2500,W 16TH AV,ARBUTUS RIDGE,EVEN,2,20-30,15.5,1990-11-06,49.257369,-123.163158
7,17592,2525,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2500,W 16TH AV,KITSILANO,ODD,2,20-30,16.0,1990-11-26,49.257517,-123.163396
8,17593,2525,W 16TH AV,PRUNUS,SERRULATA,KWANZAN,KWANZAN FLOWERING CHERRY,2500,W 16TH AV,KITSILANO,ODD,2,20-30,16.0,1990-11-26,49.257514,-123.163226
9,17627,2709,W 16TH AV,ACER,PLATANOIDES,PLATANOIDES,NORWAY MAPLE,2700,W 16TH AV,KITSILANO,ODD,6,60-70,32.0,NaN,49.257790,-123.166860
10,17630,2720,W 16TH AV,ACER,PLATANOIDES,PLATANOIDES,NORWAY MAPLE,2700,W 16TH AV,ARBUTUS RIDGE,EVEN,4,40-50,20.0,NaN,49.257484,-123.165549
11,17631,2728,W 16TH AV,ACER,PLATANOIDES,PLATANOIDES,NORWAY MAPLE,2700,W 16TH AV,ARBUTUS RIDGE,EVEN,3,30-40,11.0,NaN,49.257486,-123.165829
12,17632,2205,W 22ND AV,QUERCUS,PALUSTRIS,GREEN PILLAR,GREEN PILLAR PIN OAK,3700,YEW ST,ARBUTUS RIDGE,ODD,1,10-20,3.0,2023-04-03,49.252918,-123.155787
13,17635,2738,W 16TH AV,ACER,PLATANOIDES,PLATANOIDES,NORWAY MAPLE,2700,W 16TH AV,ARBUTUS RIDGE,EVEN,5,50-60,24.0,NaN,49.257494,-123.166357
14,17636,2741,W 16TH AV,ACER,PLATANOIDES,PLATANOIDES,NORWAY MAPLE,2700,W 16TH AV,KITSILANO,ODD,6,60-70,31.0,NaN,49.257790,-123.167050